<html>
  <title>Personal Information</title>
  <style type="text/css">
    p{
      font-family: candara;
      font-size: 30px;
    }
  </style>
  <div style="background-color:purple;width: 50%;margin:auto;">
  <h1 style="font-family: Jokerman;text-align: center;font-size: 50px;">Personal Information</h1>
</div>
<div style="background-color: pink; width: 50%;margin: auto;">
  <b><p style="text-align: center;">Name: Shaivye Singh</p>

  <p style="text-align: center;">Registration Number:201800545</p>
  <p style="text-align: center;">E-mail:<a href="https://shaivyesingh13@gmail.com">shaivyesingh13@gmail.com</a></p>
<p style="text-decoration: underline;">Short Bio:</p></b>
<p>Innovative Web Developer currently pursuing B.Tech in CSE from <b>Sikkim Manipal Institute of Technology</b> having keen interest in website design, adaptation, and maintenance. Seeking to use extensive knowledge and background in front- and back-end web development.</p>
</div>
</html>